extends layout

block content
    h3 Bookings
    .container
    each book in listOfBooking
      <ul class="list-group mt-4">
        <li class="list-group-item active fs-5" aria-current="true">#{book.BookingId} </li>
        <li class="list-group-item">#{pack.BookingDate}</li>
        <li class="list-group-item">#{pack.BookingNo}</li>
        <li class="list-group-item">Number of travelers: #{pack.TravelerCount}</li>
      //TLW: Wasn't sure if we needed the last few ID types in the schema- I can add them if we do decide we need them
      </ul>

        //added "edit booking" and "add package" as placeholders
        if currentUser && currentUser.role == 'customer'
          a.btn.btn-outline-primary.col-12(href='/') Edit Booking 
        if currentUser && currentUser.role == 'agent'
          a.btn.btn-outline-primary(href='/') Edit Booking 
          a.btn.btn-outline-warning(href='/') Add Package
        if !currentUser
          a.btn.btn-outline-info(href='register') Register
          a.btn.btn-outline-success(href='login') Log In
  