extends layout

block content
  
  // Picture Carousel
  section#carousel.col-lg-12.col-md-1.bg-info.mt-0
    #TECarousel.carousel.slide.carousel-fade.bg-info(data-bs-ride='carousel')
      .carousel-indicators
        button.active(type='button' data-bs-target='#TECarousel' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
        button(type='button' data-bs-target='#TECarousel' data-bs-slide-to='1' aria-label='Slide 2')
        button(type='button' data-bs-target='#TECarousel' data-bs-slide-to='2' aria-label='Slide 3')
        button(type='button' data-bs-target='#TECarousel' data-bs-slide-to='3' aria-label='Slide 4')
        button(type='button' data-bs-target='#TECarousel' data-bs-slide-to='4' aria-label='Slide 5')
        button(type='button' data-bs-target='#TECarousel' data-bs-slide-to='5' aria-label='Slide 6')
      .carousel-inner
        .carousel-item.bg-info.active(data-interval='50')
          .container-fluid
            img.d-block.w-100(src='images/andorra.jpg' alt='...')
            .carousel-caption.d-none.d-md-block
              h5 The intriguing Adriatic!
              p
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, quo qui ratione id dolor
                | error.
        .carousel-item.bg-info(data-interval='50')
          .container-fluid
            img.d-block.w-100(src='images/bora-bora.jpg' alt='...')
            .carousel-caption.d-none.d-md-block
              h5 Southeast Asia
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non maxime quas
                | voluptas iusto autem ab neque deserunt fuga nesciunt! Pariatur cum omnis veniam,
                | voluptatem quod repellendus tenetur vel rem?
        .carousel-item.bg-info(data-interval='50')
          .container-fluid
            img.d-block.w-100(src='images/corinth.jpg' alt='...')
            .carousel-caption.d-none.d-md-block
              h5 Visit Turkey
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eum sequi unde.
                | Est officiis error dolorem beatae aspernatur nobis aut deserunt sequi inventore,
                | voluptatibus eligendi.
        .carousel-item.bg-info(data-interval='50')
          .container-fluid
            img.d-block.w-100(src='images/ireland.jpg' alt='...')
            .carousel-caption.d-none.d-md-block
              h5 Visit Ireland
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Eveniet harum totam reiciendis minus facere ex laudantium modi. Maxime, quam alias..
        .carousel-item.bg-info(data-interval='50')
          .container-fluid
            img.d-block.w-100(src='images/newyork.jpg' alt='...')
            .carousel-caption.d-none.d-md-block
              h5 New York, New York 
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Eveniet harum totam reiciendis minus facere ex laudantium modi. Maxime, quam alias..
        .carousel-item.bg-info(data-interval='50')
          .container-fluid
            img.d-block.w-100(src='images/colorado10.jpg' alt='...')
            .carousel-caption.d-none.d-md-block
              h5 Climb to the top of the world ...
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Eveniet harum totam reiciendis minus facere ex laudantium modi. Maxime, quam alias..
      button.carousel-control-prev(type='button' data-bs-target='#TECarousel' data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden Previous
      button.carousel-control-next(type='button' data-bs-target='#TECarousel' data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.visually-hidden Next
  // *** Agents ****
  section#agents.p-5.bg-info
    .container
      h2.text-center.text-white Our Agents
      p.lead.text-center.text.white.mb-5
        | Our Senior Travel Agents are ready to help you reach
        br
        |                 your next dream destination. Make your appointment today!
      .row.g-4
        .col-md-6.col-lg-3
          .card.bg-light
            .card-body.text-center
              img.square(src='https://randomuser.me/api/portraits/women/25.jpg' mb-3='' alt='')
              h4.card-title.mb-3.mr-2 Catherine Hughes
              p.card-text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
                | excepturi
                | eveniet esse quod explicabo magni!
              a(href='#')
                i.bi.bi-twitter.text-dark.mx-1
              a(href='#')
                i.bi.bi-facebook.text-dark.mx-1
              a(href='#')
                i.bi.bi-linkedin.text-dark.mx-1
              a(href='#')
                i.bi.bi-instagram.text-dark.mx-1
              a(href='#')
                i.bi.bi-telephone.text-dark.mx-1
              p
        .col-md-6.col-lg-3
          .card.bg-light
            .card-body.text-center
              img.square(src='https://randomuser.me/api/portraits/men/25.jpg' mb-3='' alt='')
              h4.card-title.mb-3 Paul Mason
              p.card-text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
                | excepturi
                | eveniet esse quod explicabo magni!
              a(href='#')
                i.bi.bi-twitter.text-dark.mx-1
              a(href='#')
                i.bi.bi-facebook.text-dark.mx-1
              a(href='#')
                i.bi.bi-linkedin.text-dark.mx-1
              a(href='#')
                i.bi.bi-instagram.text-dark.mx-1
              a(href='#')
                i.bi.bi-telephone.text-dark.mx-1
              p
        .col-md-6.col-lg-3
          .card.bg-light
            .card-body.text-center
              img.square(src='https://randomuser.me/api/portraits/men/28.jpg' mb-3='' alt='')
              h4.card-title.mb-3 Doug Soko
              p.card-text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
                | excepturi
                | eveniet esse quod explicabo magni!
              a(href='#')
                i.bi.bi-twitter.text-dark.mx-1
              a(href='#')
                i.bi.bi-facebook.text-dark.mx-1
              a(href='#')
                i.bi.bi-linkedin.text-dark.mx-1
              a(href='#')
                i.bi.bi-instagram.text-dark.mx-1
              a(href='#')
                i.bi.bi-telephone.text-dark.mx-1
              p
        .col-md-6.col-lg-3
          .card.bg-light
            .card-body.text-center
              img.square(src='https://randomuser.me/api/portraits/women/27.jpg' mb-3='' alt='')
              h4.card-title.mb-3 Sandra Jones
              p.card-text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
                | excepturi
                | eveniet esse quod explicabo magni!
              a(href='#')
                i.bi.bi-twitter.text-dark.mx-1
              a(href='#')
                i.bi.bi-facebook.text-dark.mx-1
              a(href='#')
                i.bi.bi-linkedin.text-dark.mx-1
              a(href='#')
                i.bi.bi-instagram.text-dark.mx-1
              a(href='#')
                i.bi.bi-telephone.text-dark.mx-1
