extends layout

block content
  h1= title
  
  // Login Form
  form(action='/login-user' method="POST")
    .form-floating.m-2
      input#username.form-control(type='text' placeholder='User Name' name='username' 
      value=postdata && postdata.username)
      label.form-label(for='username') User Name
    .form-floating.m-2
      input#password.form-control(type='password' placeholder='Title' name='password')
      label.form-label(for='password') Password
    .col-12
      button.btn.btn-outline-primary(type='submit') Login
      <a href="/" class="btn btn-outline-danger" role="button">Close</a>
