body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body::before{
  display: block;
  content: '';
  height: 120px;
}

a {
  color: #00B7FF;
}

header
{
  padding:0px;
  text-align:center;
}

td
{
  margin-top:5px;
  margin-left: 10PX;
  margin-right: 10px;
  padding:5px;
  text-align:center;
}

section
{
  border: 0.4in; 
  background-color: rgb(191, 206, 168);
}

table{
  border: 0.4in; 
  padding:0in; 
  background-color: rgb(232, 240, 220);

}

p{
  text-align: justify;
}

a{
  text-decoration: none;
}